@import "./constant.css";
@import url(./reset.css);
:root{
    --header-height: 42px;
    --mgl-header: 8vw;
    --mgr-header: 0.07%;
    --avt-size: 32px;
    --search-box-height: 32px;

}
.container-page{
    position: relative;
}
header-bar-mini{
    display: none
}
.header-bar, .header-bar-mini{
    position: absolute;
    top:0;
    right:0;
    left:0;
    justify-content: space-between;
    height: var(--header-height);
    background-color: var(--main-color);
}
.left-side-mini{
    margin-left: 1vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.left-side .title-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.left-side h1 , .left-side-mini h1{
    font-size: var(--large-text);
    font-weight: var(--bold-text);
    color:#fff;
    margin:0;
    display: inline-block;
    /* margin: 0 0 0 var(--mgl-header); */
}
.left-side .search-box, .left-side-mini .search-box{
    display:flex;
    align-items: center;
 
    height: var(--search-box-height);
    padding: 7px 17px;
    background-color: #fff;
    border-radius: 3px;
}
.left-side-mini .search-box{
    background-color: #fff;
    width: 200px;
    padding: 7px 10px;
}
.right-side-mini .show-dropdown{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background-color: var(--main-color);
    border: none;
}
.right-side-mini .show-dropdown:focus{
    box-shadow: none;
}

.header-bar .right-side .personal-box, .header-bar .right-side .logout-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;;
    height: 100%;
    gap:9px;
}
.header-bar .right-side .personal-box{
    justify-content: flex-end;
}

.header-bar .right-side .personal-box .avt-box{
    width: var(--avt-size);
    height: var(--avt-size);
    background-color: #fff;
    border-radius: 50px;
    color: var(--main-color)
}
.header-bar .right-side .personal-box p{
    color: white;
    font-size: var(--xsmall-text);
    font-weight: var(--bold-text);
    margin: 0;
}
.header-bar .right-side .logout-box,.header-bar .right-side .login-box{
    color:white;
    font-size: var(--medium-text);
    font-weight: var(--bold-text);
    
}
/* @media screen and (max-width: 900px){
    .header-bar{
        display: none;
    }
    .header-bar-mini{
        display:flex
    }
} */