@import "../constant.css";
@import url(../reset.css);



.center-container .addNewPhoto-box{
    padding-bottom: 12px;
    border-bottom: #E0E0E0 solid 2px;
    margin-bottom: 22px;
}
.center-container .img-item{
    position:relative;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    background-image: url(../asset/img/photo.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 4px #000;
}
.img-item .img-title p{
    margin: 0;
    width:165px;
    overflow: hidden;
    text-overflow: ellipsis;

    
    
}
.gap-20{
    gap:20px;
}
.img-item .img-title {
    position: absolute;
    color: #fff;
    top:0;
    left:0;
    right:0;
    padding: 8px 9px;
    background-color: rgba(0,0,0,0.4);
    
    
}
.lock-icon{
    
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;;
}
.img-item img{
    object-fit: cover;
}

#nav-list a:nth-child(2) li{
    color: var(--main-color);
}

.center-container .img-container{
    overflow: auto;
    height: 75%;
}